.rs{
    border: white solid 1px ;
    height: 600px;
    width: 550px;
    margin-top: 60px;  
    background-color: rgba(142, 208, 235, 0.6);
    overflow-y: scroll;
}
.rs::-webkit-scrollbar{
    background-color: skyblue;
    width: 10px;
}
.rs::-webkit-scrollbar-button{
    background-color: black;
}
.rs::-webkit-scrollbar-thumb{
    background-color: black;
}
.item{
    margin: 0 auto ;
    margin-top: 10px;
    border: black solid 2px ;
    height: 100px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: none;
}
.p{
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 25px;
    color: white;
}
.add{
    border-radius: 20px ;
    width: 150px;
    background-color: rgba(79, 242, 242,0.5);
    cursor: pointer;
}
.add:active{
    background-color: rgba(79, 242, 242,0.3);
}
.item{
    overflow: hidden;
}
h2{
    text-align: center;
    text-decoration: underline;
}